.error-image {
  display: block;
  width: 100vw;
  height: 100vh;
}

.error-text {
  position: absolute;
  font-size: 30px;
  width: 75%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
