* {
  /* margin: 0px; */
  /* padding: 0px; */
}

.game {
  box-sizing: border-box;
  /* border: solid black 1px; */

}

.titles {
  text-align: center;
}

.thumbnails {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
